# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# ignore clango binary
# download from the internet
fredrick/modified_pkg/ASP/clingo430
# ignore local files created by clingo
fredrick/modifed_pkg/tmp/*
